/* ------------------- Générique ------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.back{
  font-size: .5rem;
}

.App{
  width: 100%;
  height: 100%;
  background: #0d1c19;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

h1{
  color: #0ac39e;
  font-size: 1.5rem;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: #fff;
}

input{
  border-radius: .2rem;
  height: 2rem;
  border: none;
  width: 80%;
}

button{
  border: none;
  height: 2rem;
  border-radius: .2rem;
}


/* ------------------- Home ------------------- */

.homeHeader{
  flex-direction: column;
}

.homeHeader p{
  color: #fff;
}


/* ------------------- Pages Boissons ------------------- */

.drinks{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.drinkItem{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.drinkName{
  color: #6acab7;
}

.drinkIngredients{
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: .4rem;
  flex-wrap: wrap;
}

.drinkIngredients p{
  width: max-content;
}

.drinkDatas{
  color: #fff;
}

/* ------------------- Menu ------------------- */

.menuLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

/* ------------------- Pages Admin ------------------- */

.adminForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 0;
  height: 100%;
  gap: 1rem;
}

.loginBtn{
  background: #6acab7;
  border: none;
  width: 60%;
}

.loginBtn:hover{
  background: #0ac39e;
  color: #fff;
}


.logMessage{
  color: #fff;
  text-align: center;
}

.beverages{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.beverageItem{
  background: #fff;
  border-radius: .25rem;
  padding: .25rem .5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.beverageItem h2{
  color: #0ac39e;
  font-size: 1rem;
}

.beverageIngredients{
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.btnManagement{
  display: flex;
  position: absolute;
  gap: .5rem;
  right: -.5rem;
  top: -1rem;
}

.beverageItem button{
  width: auto;
  padding: .25rem .5rem;
}

#confirmDelete{
  background: rgba(11, 15, 15, 0.98);
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  color: #0ac39e;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: .5rem .5rem 0;
  gap: 3rem;
}

.hidden{
  display: none !important;
}

.popupHeader{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.popupBtn{
  display: flex;
  gap: 2rem;
}

.popupTitle{
  text-transform: uppercase;
}

.popupBtn button{
  padding: .25rem .5rem;
}



